header, section, footer, aside, nav, article, hgroup { 
    display:blocks
}

body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    position: relative;
    
}
h1,h2{
    font-size: 55px;
}

.parallax {
    
    height:500px;
    background-position: center cent;
    background-attachment: fixed;
    background-image:url('https://i.pinimg.com/1200x/f0/cc/ea/f0ccea3cd268978c23bc613845ae8de0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.menu{
    
    text-align: left;
}
.menu li {
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;
}

.container {

    padding: 50px;
    background-color: black;
    opacity: 0.9;
    color: white;
    

    
}

